<div class="w-full flex bg-green-100">
  <div class="w-0 sm:w-60 bg-red-100"></div>

  <div class="flex-1 bg-blue-100 pl-0 sm:pl-3">
    <h1 class="text-xl">Edit position</h1>
    <%= render "form", position: @position %>
    <%= button_to "Delete", @position, method: :delete, class: "rounded-lg py-3 px-5 inline-block font-medium cursor-pointer bg-red-300 border-2 border-gray-300", form_class: "inline-block float-right" %>
  </div>
</div>
