<div class="w-full flex bg-green-100">
  <turbo-frame id="left_column" class="w-0 sm:w-60 bg-red-100" refresh="morph" src="<%= positions_path %>" loading="lazy">Loading...</turbo-frame>

  <turbo-frame id="right_column" class="flex-1 bg-blue-200 pl-0 sm:pl-3" refresh="morph">
    <h1 class="text-xl">Edit position</h1>
    <%= render "form", position: @position %>
    <%= button_to "Delete", @position, method: :delete, class: "rounded-lg py-3 px-5 inline-block font-medium cursor-pointer bg-red-300 border-2 border-gray-300", form: { class: "inline-block float-right", data: { turbo_frame: "_top" } } %>
  </turbo-frame>
</div>
