<div class="w-full flex bg-green-100">
  <div class="w-0 sm:w-60 bg-red-100"></div>

  <div class="flex-1 bg-blue-100 pl-0 sm:pl-3">
    <h1 class="text-xl">New position</h1>
    <%= render "form", position: @position %>
  </div>
</div>
