<div class="w-full flex bg-green-100">
  <turbo-frame id="left_column" class="w-0 sm:w-60 bg-red-100" src="<%= positions_path %>" refresh="morph">Loading...</turbo-frame>

  <turbo-frame id="right_column" class="flex-1 bg-blue-200 pl-0 sm:pl-3" refresh="morph">
    <h1 class="text-xl">New position</h1>
    <%= render "form", position: @position %>
  </turbo-frame>
</div>
